.corrent_test{
    /* background:#181E27; */
    height: 600px;
    color: aliceblue;
}



.corrent_project_content{
    margin-left: 3ch;
    width: 70%;
    height: 400px;
    background: var(--black-gradient, radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%));
    border-radius: 30px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
    padding: 30px;
}


.corrent_video_1{
    width: 400px;
    height: 200px;
    margin-right: 30px;
}

.corrent_project_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vertical_line {
    height: 100%; 
    width: 2px; 
    background: var(--Orange, #FC7614);
    margin: 0 20px;  
}