.footer_container{
    padding: 20px;
    background: #131518;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single_contact{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 10px 0;
}

.for_icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #b0bac9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.location_icon{
    width: 25px;
    height: auto;
}

.location_text{
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.location_text h2, .location_text h3 {
    margin: 0;
}

.contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.reserved {
    color: #666f7c;
    text-align: center;
    width: 100%;
}

/* Media Queries for Responsiveness */
@media (min-width: 769px) {
    .contacts {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    .location_icon{
        width: 40px;
        height: 37px;
    }

    .for_icon {
        margin: 0;
    }

    .reserved {
        text-align: left;
        margin: 0;
    }

    .footer_container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .single_contact {
        margin: 0;
    }
}
